<%- include('partials/head', { title, user }) %>
<section class="card">
  <h1><%= title %></h1>
  <p><%= message %></p>
  <a class="btn" href="/">Back Home</a>
</section>
<%- include('partials/foot') %>
